button.btn.collapsed:before
{
    content:'+' ;
    display:block;
   
}
button.btn:before
{
    content:'-' ;
    display:block;
   
}

body {
  width: 100%;
  height: 100%;
  background-image:url("../images/background.jpg");
  background-size: 1440px 800px;
  background-repeat:no-repeat;
  display: compact;

}
