$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

#bodystart{

background-image:url('/images/background.png');
margin: 0px;
  padding: 0px;
height: 100%;
  width: 100%;
  background-size: 1440px 800px;
  background-repeat:no-repeat;
  display: compact;

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 0px;
  padding-bottom: 0px;

}

.hpMain {
  width: 100%;
  height: 100%;
  background-image:url("/images/background.png");
  background-size: 1440px 800px;
  background-repeat:no-repeat;
  display: compact;
}

.hpGame {
  padding-top: 20px;
  padding-bottom: 20px;
}




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    background-color:black;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #000;
    border-top: 1px solid #000000;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #000000;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
    .container {
        width: 100%;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.navbar.main-nav {
  background-color: black;
  font-family: 'PT Mono';
  .navbar-brand {
    color: #00ff00;
  }
  .navbar-text {
    margin-top: 16px;
    color: #00ff00;
  }
  .navbar-nav >li > a {
    background-color: black;
    color: #00ff00;
  }
  .navbar-nav >li > a:hover {
    text-decoration: underline;
    background-color: black;
    color: #00ff00;
  }
}

  .game_content {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .market {
    width: 20%;
    height: 50%;
    background-color: black;
    color:white;
    overflow: auto;
  }

#blackM{
  color:white;
  background-color:black;
  

}


#buyTable{
color:black;
background-color:white;

}

#buyTable2{
color:red;
background-color:black;

}

  #map-canvas {
    width: 80%;
    height: 100%;
    float: left;
  }
  
  #inventoryHeader{
    color:white;
    background-color:black;
  }
  
  #inventoryBigHeader{
  
  background-color:black;
  }
  
  #inventoryStuff{
  color:black;
  background-color:white;
  
  }
  
  #sellQuestion{
  
  color:black;
  background-color:white;
  }

  .inventory {
    width: 20%;
    float: right;
    height: 50%;
    overflow: auto;
    .highlight {
      background-color: yellow;
    }
  }

  #game-notify {
    position: fixed;
    right: 30px;
    top: 60px;
    div {
      background-color: rgb(255, 255, 123);
      text-align: center;
      line-height: 30px;
      border-radius: 5px;
      padding: 5px;
    }
  }
