<div ng-include="'/views/navigation.html'"></div>

<div class="game_content">
  <div id="map-canvas"></div>
  <div class="market">
    <div class="black_market_title">
    
    
    <h3 id="blackM">Black Market</h3>
    
    </div>
    <tabset>
      <tab heading="Buy">
        <table class="table table-hover">
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
          <tr ng-repeat="item in blackMarket.onsale">
            <td>{{item.name}}</td>
            <td>${{item.price}}</td>
          </tr>
        </table>
      </tab>
      <tab heading="Sell">
      
      <h3>Selling anything today?</h3>
    	<p>WARNING: You will lose all your inventory<p>
		<a href="#" class="btn btn-larde btn-success"> Sell </a>
       <h4> Expected revenue: </h4>
      
      
    </tab>
    </tabset>
  </div>
</div>
