<div class="row">
  <div class="col-xs-4">
    <div class="well">
      <p>Name </p>
      <p>GTA</p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <h1>Honey Pot</h1>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <a href="/tutorial" class="btn btn-larde btn-warning"> Tutorial </a>
      <a href="/main" class="btn btn-larde btn-danger"> Log Out </a>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-4">
    <div class="well">
      <p>inventory</p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <p>map</p>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <p>black m</p>
    </div>
  </div>
</div>