<div class="hpGame">
  <div class="row" height=20%>
    <div class="col-md-2">
      <div class="well">
        <h3>Name </h3>
        <h3>GTA</h3>
        <div class="span2">
          <div class="progress progress-danger progress-striped active">
            <div class="bar" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well" align="center">
        <h1>Honey Pot</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="well" align="center">
        <a href="tutorial.html" class="btn btn-larde btn-warning"> Tutorial </a>
        <a href="start.html" class="btn btn-larde btn-danger"> Log Out </a>
      </div>
    </div>
  </div>



  <div class="row" height=80%>
    <div class="col-md-2">
      <div class="well">
        <h5 align="center">Cash: </h5>
        <h5 align="center">Encrypted Data: </h5>
        <h5 align="center">Credentials: </h5>
        <h5 align="center">Delicate Info:</h5>
        <h5 align="center">Sensitive Info: </h5>
        <h5 align="center" >Inventory <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#intro2"></button></h5>
        <div id="intro2" class="collapse">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <h3 align="center">Map</h3>
        <div></div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="well">
        <h3 align="center">Black Market</h3>
        <tabset>
          <tab heading="Buy">Pellentesque habitant morbi tristique</tab>
          <tab heading="Sell">habitant morbi tristique </tab>
        </tabset>
      </div><!-- end of container -->
    </div>
  </div>
</div>
</div>
