<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">honeypot</h3>
</div>

<div class="span12 centered-text" align="center">
    <h1> Honey Pot </h1>
    <a href="/game" class="btn btn-larde btn-success"> Start Game </a>
    <a href="/tutorial" class="btn btn-larde btn-warning"> Start Tutorial </a>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the honeypot team</p>
</div>
